{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
    <style>
        input {width: 100%;}
        body, :root {background-color:#dbeded}
        .modal-content {min-width: 300px;}
        .modal-header,.modal-body,.modal-footer {background-color: #fffdf3;
        .test-mo {font-weight: normal;}
    </style>
</head>

<body>

  <!-- Модальное окно -->
      <div class="modal-content" style="width: 34%;margin: 10% 35%">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ваше заказ успешно отправлен!</h5>
<!--          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>-->
        </div>
        <div class="modal-body">
        <h5 class="test-mo"><br>Ожидайте</h5>
        </div>
        <div class="modal-footer">
        <form action="{% url 'catalog' %}">
            <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Вернуться к товарам</button>
        </form>
        <form action="{% url 'main' %}">
            <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Вернуться на главную страницу</button>
        </form>
<!--          <button type="button" class="btn btn-primary">Сохранить изменения</button>-->
        </div>
      </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>