{% extends 'base.html' %}
{% load static %}

{% block cssstyle %}
<link rel="stylesheet" href="{% static 'css\loginreg.css'%}">
{% endblock %}

{% block content %}

    {% block regwindow %}
    <div class="regwindow">
            <div class="currentform">
                <h1>Регистрация:</h1><br>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}<br>
                    <button type="submit">Зарегистрироваться</button>
                </form>
            </div>
    </div>
    {% endblock regwindow %}

{% endblock %}
